<div class="row">
    <div class="col-xs-0 col-md-1"></div>
    <div class="col-xs-12 col-md-3 thumbnail">
        <img src="https://pbs.twimg.com/profile_images/683770060494749696/rNgIXyBg_400x400.png" alt="Hillary Clinton" />
        <div class="caption">
            <h3>Hillary Clinton</h3>
            <p>67th Secretary of State</p>
            <p>Slogan: Hillary for America</p>
            <p><a href="http://www.hillaryclinton.com">www.hillaryclinton.com</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-md-3"></div>
    <div class="col-xs-12 col-md-3"></div>
    <div class="col-xs-0 col-md-1"></div>
</div>