<div class="row">
    <div class="col-xs-0 col-md-1"></div>
    <div class="col-xs-12 col-md-3"></div>
    <div class="col-xs-12 col-md-3"></div>
    <div class="col-xs-12 col-md-3 thumbnail">
        <img src="https://pbs.twimg.com/profile_images/655015890639941632/f2DZOW_J_400x400.jpg" alt="Bernie Sanders" />
        <div class="caption">
            <h3>Martin O'Malley</h3>
            <p>61st Governor of Maryland</p>
            <p>Slogan: Rebuild the American Dream</p>
            <p><a href="https://martinomalley.com/">www.martinomalley.com</a></p>
        </div>
    </div>
    <div class="col-xs-0 col-md-1"></div>
</div>