<div class="row">
    <div class="col-xs-0 col-md-1"></div>
    <div class="col-xs-12 col-md-3"></div>
    <div class="col-xs-12 col-md-3 thumbnail">
        <img class="sanders" src="assets/images/Sanders_Headshot.jpg" alt="Bernie Sanders" />
        <div class="caption">
            <h3>Bernie Sanders</h3>
            <p>U.S. Senator from Vermont</p>
            <p>Slogan: A political revolution is coming.</p>
            <p><a href="www.berniesanders.com">www.berniesanders.com</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-md-3"></div>
    <div class="col-xs-0 col-md-1"></div>
</div>